

<div id="home">
	<header class="home__header">
		<div class="container">
			<h2 class= "header__title">we are awake earlier than you</h2>
		</div>
	</header>

	<div class="home__what-we-do home__content-block">
		<div class="container">
			<h3>What We Do</h3>
			<div class="row">
				<div class="col-half home__web">
					<p class= "attn">We build web based sites and applications</p>
				</div>
				<div class="col-half home__app">
					<p class="contain">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat molestias distinctio illum consectetur vero dignissimos id itaque, repudiandae repellendus dolore quo, labore minima facere cupiditate.</p>
				</div>
			</div>	
		</div>
	</div>

		<div class="home__work">
			<div class="row">
				<div class="col-half home__image-container">
					<div class="home__image">
					</div>	
					<div class="home--image-overlay"><%= link_to "The Portfolio", portfolio_pieces_path %></div>
				</div>
				<div class="col-half home__content">
					<div class="contain-content--right">
						<%= link_to portfolio_piece_path(@portfolio_piece) do %>
							<h4><%= @portfolio_piece.title%></h4>
							<p><%= @portfolio_piece.excerpt%></p>
						<% end %>
					</div>
				</div>
			</div>
		</div>	


	<!-- // Loop -->
		<div class="home__blog">
			<div class="row">
			<div class="col-half home__content">
				<div class="contain-content--left">
					<%= link_to blog_entry_path(@blog_entry) do%>
						<h4><%= @blog_entry.title%></h4>
						<p><%= @blog_entry.excerpt%></p>
					<% end %>
				</div>
			</div>
			<div class="col-half home__image-container">
				<div class="home__image">
				</div>	
				<div class="home--image-overlay"><%= link_to "Blog", blog_entries_path%></div>
			</div>
			</div>
		</div>
<!-- 	<?php endwhile ?> -->
	
	<div class="home__contact home__content-block" id="contact">
		<div class="container">
			<h3>Get In Touch</h3>
			<div class="row">
				<div class="col-half">
					<p class="attn">We would love to work together</p>
				</div>
				<div class="col-half">
					<p class="contain">Let us know about what your project is and then we will chat about it and figure out some more stuff. Then we can start working on it and it will be swell.</p>
					<button class="button">Contact Us</button>
				</div>
			</div>
		</div>
	</div>
</div>	


<script>
	function headerHeight(){
		var height = $(window).height() - 127 
		var padding = (height - 54)/2
		$('.header__title').css('padding', padding + 'px 0');
	};
	$(window).resize(function(){
	  headerHeight();
	});
	$(function(){
		$(window).trigger('resize');
	});
</script>