<div id="admin" class="container">
    <h1 class="center">Hello Panel!</h1>

    <div class="row">
        <div class="col-half">
            <%= link_to "Add New Portfolio Piece", new_portfolio_piece_path %>
        </div>
        <div class="col-half">
            <%= link_to "Add New Blog Entry", new_blog_entry_path %>
        </div>
        <div class="col-half">
            <% @portfolio_pieces.each do |piece| %>
                <ul>
                    <li><%= link_to piece.title, edit_portfolio_piece_path(piece) %></li>          
                </ul>
           <% end %>
        </div>
        <div class="col-half">
            <% @blog_entries.each do |entry| %>
            <ul>
                <li><%= link_to entry.title, edit_blog_entry_path(entry)%></li>
            </ul>
            <% end %>
        </div>
    </div>

   <hr>
   <h2 class="center">Portfolio Pieces</h2>
   <table>
     <thead>
       <tr>
         <th>Order</th>
         <th>Image</th>
         <th></th>
         <th></th>
       </tr>  
     </thead>
     <tbody>
       <% @portfolio_pieces.order(:order).each do |piece| %>
       <tr>
         <td><%= form_for(piece, remote: true) do |f| %>
           <%= f.text_field :order, class: "piece-order" %>
         <% end %></td>

         <td><img src="<%=piece.feature_image.url%>" alt=""></td>
         <td><%= link_to "edit |", edit_portfolio_piece_path(piece)%></td>
         <td><%=link_to "delete", portfolio_piece_path(piece), method: :delete, data: {confirm: 'Are you sure?'}%></td>
       </tr>
       <% end %>
     </tbody>
   </table>
   <script>
     
     $(function() {
       $('.piece-order').change(function(){
         $('.edit_portfolio_piece').submit();
         console.log('somethings happening')
       });
     });
   </script>



    </div>
</div>