<p id="notice"><%= notice %></p>

<h1>Listing Blog Entries</h1>

<main class="cd-main">
  <ul class="cd-gallery">
    <% @blog_entries.each do |blog_entry| %>
      <div class="row">
        <li class="cd-item col-half">
          <a href="blog_entries/<%=blog_entry.id%>">
            <div>
              <h2><%= blog_entry.title%></h2>
              <p><%= blog_entry.excerpt%></p>
              <b>View More</b>
            </div>         
          </a>
        </li>
        
      </div>
    <% end %>
  </ul>
</main>

<div class="cd-folding-panel">

  <div class="fold-left"></div>

  <div class="fold-right"></div>

  <div class="cd-fold-content">
    <!-- content will be loaded using javascript -->
  </div>

  <a href="#0" class="cd-close"></a>
</div> <!-- .cd-folding-panel -->

<br>

<%= link_to 'New Blog entry', new_blog_entry_path %>


<script>
jQuery(document).ready(function($){

  $('.cd-gallery a').on('click', function(event){
    event.preventDefault();
    openItemInfo($(this).attr('href'));
  });

  function openItemInfo(url){

    // var mq = viewportSize();
    if( $('.cd-gallery').offset().top > $(window).scrollTop()) {
      $('body,html').animate({
        'scrollTop': $('.cd-gallery').offset().top
      }, 100, function(){
        toggleContent(url, true);
      });

    } else {
      toggleContent(url, true);
    }
  }

  function toggleContent(url, bool){
    if (bool) {
      console.log("inside toggle content " + url + " url")
      $('.cd-fold-content').load(url+' .cd-fold-content > *', function(event){
        $('body').addClass('overflow-hidden');
        $('.cd-folding-panel').addClass('is-open');
        $('.cd-main').addClass('fold-is-open');
      });
    } else {
      $('.cd-fold-panel').removeClass('is-open');
      $('.cd-main').removeClass('fold-is-open');
    }
  }
});


</script>