<p id="notice"><%= notice %></p>


<div class="single-page container">
  <h2><%= @blog_entry.title %></h2> 
	<p>
	  <%= @blog_entry.words.html_safe %>
	</p>
</div>




<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
