<p id="notice"><%= notice %></p>
<% content_for :title, @blog_entry.title %>

<div class="single-page container hidden" id="blog-entry">
  <h2><%= @blog_entry.title %></h2>
  <a href="http://www.upatfive.ca/blog/<%=@blog_entry.slug%>">Permalink</a>
  <p><%= @blog_entry.created_at.strftime("%B %d, %Y")%></p>
	<p>
	  <%= @blog_entry.words.html_safe %>
	</p>
</div>

<script>
    jQuery(document).ready(function($){
        Rainbow.color();
    });

    $(document).on('ready page:load',function(){
        $('#blog-entry').fadeIn(1000);
    });

</script>
