<p id="notice"><%= notice %></p>


	<%= simple_format(@blog_entry.words) %>

<div class="cd-fold-content single-page">
  <h2><%= @blog_entry.title %></h2> 
	<p>
	  <%= @blog_entry.words.html_safe %>
	</p>
	
</div>




<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
