<p id="notice"><%= notice %></p>


<div class="single-page container">
  <h2><%= @blog_entry.title %></h2>
  <h5>permalink : upatfive.ca<%= link_to blog_entry_path(@blog_entry)%></h5> 
  <p><%= @blog_entry.created_at.strftime("%B %d, %Y")%></p>
	<p>
	  <%= @blog_entry.words.html_safe %>
	</p>
</div>

<script>
    jQuery(document).ready(function($){
        Rainbow.color();
    });
    
</script>
