<div id="portfolio" class="hidden">
    
    <p id="notice"><%= notice %></p>
    <div class="container portfolio-header">
    	<h3>Client Work</h3>
    	<p class="attn">a tagline about all of the work we do</p>
    </div>
    <div class="row">
    	<% @portfolio_pieces.each do |portfolio_piece|%>
    		<div class="piece" style= "background: url(<%= portfolio_piece.feature_image.url%>); background-size: cover; background-position: center">
    		  <%= link_to portfolio_piece_path(portfolio_piece), class: 'piece' do %>
    	
    		
    			<div class="overlay">
    				<h4><%= portfolio_piece.title%></h4>
    				<p><%= portfolio_piece.excerpt%></p>
    				<%= link_to 'View Project', portfolio_piece, class: 'button' %>
    			</div>
    		<% end %>
    		</div>
    	<% end %>
    </div>
</div>



<script>
    $(document).on('ready page:load',function(){
        $('#portfolio').fadeIn(1000);
    });
	$('.piece').on('mouseenter focus', function(){
		var overlay = $(this).find('.overlay');
		overlay.fadeIn('100')

	});
	$('.piece').on('mouseleave blur', function(){
		var overlay = $(this).find('.overlay');
		overlay.fadeOut('80')

	});
</script>
