<div id="portfolio" class="hidden">
    
    <p id="notice"><%= notice %></p>
    <div class="portfolio-header">
        <div class="container">
        	<h3>Client Work</h3>
        	<p class="attn">working with you to make the web.</p>
        </div>
    </div>
    <div class="row">
    	<% @portfolio_pieces.each do |portfolio_piece|%>
            <div class="piece" style= "background: url(<%= portfolio_piece.feature_image.url%>); background-size: cover; background-position: center">
    		<%= link_to portfolio_piece_path(portfolio_piece), {class: 'piece-link', data: {trigger: portfolio_piece.id}} do %>
    	
    		<% end %>
    		  <div class="overlay overlay-<%= portfolio_piece.id%>">
    				<h4><%= portfolio_piece.title%></h4>
    				<span>View Project</span>
    		  </div> 
            </div>
    		
    	<% end %>
    </div>
    <%= render template: 'contact/contact'%>
</div>



<script>
    $(document).on('ready page:load',function(){
        $('#portfolio').fadeIn(1000);
    });
	$('.piece').on('mouseenter', function(){
		var overlay = $(this).find('.overlay');
		overlay.fadeIn('100')

	});
	$('.piece').on('mouseleave', function(){
		var overlay = $(this).find('.overlay');
		overlay.fadeOut('100')

	});
    $('.piece-link').on('focus', function(e){
        e.preventDefault()
        var trigger = $(this).data('trigger')
        var overlay = $('.overlay-'+trigger)
        overlay.fadeIn('100')

    });
    $('.piece-link').on('blur', function(e){
        e.preventDefault()
        var trigger = $(this).data('trigger')
        var overlay = $('.overlay-'+trigger)
        overlay.fadeOut('100')
    });
</script>
