<p id="notice"><%= notice %></p>
<div id="single_work" class="hidden">
  <header class="single_work__header" style="background:url(<%= @portfolio_piece.feature_image.url %>); no-repeat; background-size: cover;">
    <div class="container">
      <h2 class="header__title"></h2>
      <a href="#portfolio">
        <div class="read-more">
          Read More
        </div>
      </a>
    </div>
  </header>

  <div class="single_work__what-we-do single_work__content-block" id="portfolio">
    <div class="container">
      <h3><%= @portfolio_piece.title %></h3>
      <div class="row">
        <div class="col-half work__web">
          <p class="attn"><%= @portfolio_piece.excerpt %></p>
        </div>
        <div class="col-half work__app">
          <p class="contain"><%= @portfolio_piece.description %></p>
          <a href="<%= @portfolio_piece.link%>" class="button" target="_blank">View Live</a>
        </div>
      </div>
    </div>
  </div>

  <div class="single_work__work">
    <div class="row">
      <% @portfolio_piece.portfolio_images.order(:order).each do |image|%>
        <div class="single_work__image-container <%= image.width %>" style="background-color: <%= image.color %>;">
          <img src="<%= image.pic.url %>">
        </div>  
      <% end %>
    </div>
  </div>
  
</div>



<script>
    $(document).on('ready page:load',function(){
        $('#single_work').fadeIn(1000);
    });
  function headerHeight(){
    var height = $(window).height() - 127 
    var padding = (height - 54)/2
    $('.header__title').css('padding', padding + 'px 0');
  };
  $(window).resize(function(){
    headerHeight();
  });
  $(function(){
    $(window).trigger('resize');
  });

  $('.read-more').on('click', function(e){
      e.preventDefault();
      $("body").animate({
        scrollTop: $("#portfolio").offset().top
      }, 1000);
      
  })
</script>