<!DOCTYPE html>
<html>
<head>
  <title>Up at five</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- for Facebook -->          
  <meta property="og:title" content="Up at Five" />
  <meta property="og:image" content="<%= asset_path('up-at-five-logo.png')%>" />


  <!-- for Twitter -->          
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Up at Five" />
  <meta name="twitter:description" content="An agency that wakes up early" />
  <meta name="twitter:image" content="<%= asset_path('up-at-five-logo.png')%>" />

  <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

</head>
<body class="home page">
<div id="page" class="hfeed site">
			

	<header id="masthead" class="site-header" role="banner">
		<div class="container">
			<div class="site-header__logo">
				<% if controller.controller_name == "front_page" && controller.action_name == 'show'%>
					<a href="#whatWeDo" id="logo" class="skip-link screen-reader-text site-header__logo"><%= image_tag "up-at-five-logo.png", :class => 'site-header__logo' %></a>
				<% else %>
				  <%= link_to root_path, class: 'site-header__logo'  do %>
				  	<%= image_tag "up-at-five-logo.png", :class => 'site-header__logo' %>
				  <% end %>
				<% end %>
			</div>

		<nav id="site-navigation" class="site-header__navigation">
			
			<ul>

				<li><%= link_to "About Us", front_page_about_path %></li>
				<li><%= link_to "Work", portfolio_pieces_path %></li>
				<li><%= link_to "Blog", blog_path %></li>
				<% if controller.controller_name == "front_page" || controller.action_name == 'index' && controller.controller_name == 'portfolio_pieces'%>
					<li><a href="#contactUs" id="contact">Contact</a></li>
				<% else %>
				   
				<% end %>

                <% if current_user.present?%>
                <li><%= link_to "Admin", admin_panel_path%></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
                <% end %>
			</ul>
		</nav>

		</div>
		
	</header>
	<!-- /.masthead -->

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


	<div id="content" class="site-content">

	<%= yield %>

	</div>

    <div class="footer">
        <p>Up at Five</p>
    </div>

</div>  <!-- /#page -->

</body>
</html>
