<!DOCTYPE html>
<html>
<head>
  <title>Up at five</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="page" class="hfeed site">
	<% if controller.controller_name == "front_page" %>
		<a href="#content" class="skip-link screen-reader-text site-header__logo"><%= image_tag "up-at-five-logo.png", :class => 'site-header__logo' %></a>
    <% else %>
      <%= link_to root_path, class: 'site-header__logo'  do %>
      	<%= image_tag "up-at-five-logo.png", :class => 'site-header__logo' %>
      <% end %>
    <% end %>
		

<header id="masthead" class="site-header" role="banner">
	
	<nav id="site-navigation" class="site-header__navigation">
		
		<ul>
			<li>About Us</li>
			<li><%= link_to "Work", portfolio_pieces_path %></li>
			<li><%= link_to "Blog", blog_entries_path %></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!-- <h3>Nav Bar</h3> -->

<div id="content" class="site-content">

<%= yield %>

</div>

<p>footer</p>

</div>
</body>
</html>
