<!DOCTYPE html>
<html>
<head>
  <title><%=h yield(:title)%></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- meta description -->
  <meta name="description" content="<%=h yield(:meta_description) %>">

  <!-- for Facebook -->
  <meta property="og:title" content="Up at Five" />
  <meta property="og:image" content="<%= asset_path('up-at-five-logo.png')%>" />


  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Up at Five" />
  <meta name="twitter:description" content="An agency that wakes up early" />
  <meta name="twitter:image" content="<%= asset_path('up-at-five-logo.png')%>" />

  <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body class="home page">
<div id="page" class="hfeed site">


	<header id="masthead" class="site-header" role="banner">
		<div class="container">
			<div class="site-header__logo">
				<% if controller.controller_name == "front_page" && controller.action_name == 'show'%>
					<a href="#whatWeDo" id="logo" class="skip-link screen-reader-text site-header__logo"><%= image_tag "up-at-five-logo.png", :class => 'site-header__logo' %></a>
				<% else %>
				  <%= link_to root_path, class: 'site-header__logo'  do %>
				  	<%= image_tag "up-at-five-logo.png", :class => 'site-header__logo' %>
				  <% end %>
				<% end %>
			</div>

		<nav id="site-navigation" class="site-header__navigation">

			<ul>

				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Work", portfolio_path %></li>
				<li><%= link_to "Blog", blog_path %></li>
				<% if controller.controller_name != "blog_entries" %>
					<li><a href="#contactUs" id="contact">Contact</a></li>
				<% else %>

				<% end %>

                <% if current_user.present?%>
                <li><%= link_to "Admin", admin_panel_path%></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
                <% end %>
			</ul>
		</nav>

		</div>

	</header>
	<!-- /.masthead -->

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


	<div id="content" class="site-content">

	<%= yield %>

	</div>

    <footer>
    	<div class="container">
    		<div class="row">
	    		<ul class="col-half">
	    			<li><a href="https://twitter.com/up_at_five" target="_blank"><i class="fa fa-twitter"></i><span>twitter</span></a></li><!--
	    			*--><li><a href="https://www.facebook.com/upat5/" target="_blank"><i class="fa fa-facebook"></i><span>facebook</span></a></li><!--
	    			*--><li><a href="https://www.instagram.com/up_at_five/" target="_blank"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
	    		</ul>
	    		<div class="col-half">
	    			<p>Up at Five is a digital studio based in Toronto, Canada. All contents of this website are reserved for our use.</p>
	    			<p><i class="fa fa-copyright"></i> Up at Five</p>
	    		</div>
	    	</div>
    	</div>
    </footer>

</div>  <!-- /#page -->

</body>
</html>
